<template>
    <div class="backend-menu">
        <v-list color="grey lighten-4" nav class="py-0 v-list-fix-custom">
            <v-list-item two-line :class="miniVariant && 'px-0'">
                <v-list-item-avatar>
                    <img src="https://randomuser.me/api/portraits/men/81.jpg">
                </v-list-item-avatar>

                <v-list-item-content class="primary--text">
                    <v-list-item-title>{{ authUser.name }}</v-list-item-title>
                    <v-list-item-subtitle class="primary--text">{{ authUser.email }}</v-list-item-subtitle>
                </v-list-item-content>

                <user-short-menu @hideMenu="$emit('toggleMenu')" />
            </v-list-item>
            <v-divider></v-divider>
        </v-list>

        <v-list rounded nav class="py-0 v-list-menu-custom">
            <v-subheader>General</v-subheader>

            <v-list-item link to="/admin/dashboard" @click="$emit('toogleMenu')">
                <v-list-item-icon>
                    <v-icon>dashboard</v-icon>
                </v-list-item-icon>
                <v-list-item-content>
                    <v-list-item-title>Dashboard</v-list-item-title>
                </v-list-item-content>
            </v-list-item>

            <v-list-item link to="/admin/users" @click="$emit('toogleMenu')">
                <v-list-item-icon>
                    <v-icon>group</v-icon>
                </v-list-item-icon>
                <v-list-item-content>
                    <v-list-item-title>Users</v-list-item-title>
                </v-list-item-content>
            </v-list-item>

            <v-list-item>
                <v-list-item-icon>
                    <v-icon>view_module</v-icon>
                </v-list-item-icon>
                <v-list-item-content>
                    <v-list-item-title>Modules</v-list-item-title>
                </v-list-item-content>
            </v-list-item>

            <v-list-item>
                <v-list-item-icon>
                    <v-icon>menu</v-icon>
                </v-list-item-icon>
                <v-list-item-content>
                    <v-list-item-title>Menu</v-list-item-title>
                </v-list-item-content>
            </v-list-item>

            <v-list-item>
                <v-list-item-icon>
                    <v-icon>settings</v-icon>
                </v-list-item-icon>
                <v-list-item-content>
                    <v-list-item-title>Setting</v-list-item-title>
                </v-list-item-content>
            </v-list-item>

            <v-list-group prepend-icon="beenhere" no-action :group="'/admin/roles|/admin/role|/admin/permission'">
                <v-list-item slot="activator" exact>
                    <v-list-item-content>
                        <v-list-item-title>Roles</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
                <v-list-item  to="/admin/role/assign">
                    <v-list-item-content>
                        <v-list-item-title>Assign Role</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
                <v-list-item  to="/admin/roles" @click="$emit('toogleMenu')">
                    <v-list-item-content>
                        <v-list-item-title>Roles</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
                <v-list-item  to="/admin/permission">
                    <v-list-item-content>
                        <v-list-item-title>Permission</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
            </v-list-group>

            <v-list-group prepend-icon="whatshot" no-action>
                <v-list-item slot="activator">
                    <v-list-item-content>
                        <v-list-item-title>News</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
                <v-list-item link>
                    <v-list-item-content>
                        <v-list-item-title>World</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
                <v-list-item link>
                    <v-list-item-content>
                        <v-list-item-title>Europe</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
                <v-list-item link>
                    <v-list-item-content>
                        <v-list-item-title>South America</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
            </v-list-group>

            <v-list-group prepend-icon="whatshot" no-action>
                <v-list-item slot="activator">
                    <v-list-item-content>
                        <v-list-item-title>News</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
                <v-list-item link>
                    <v-list-item-content>
                        <v-list-item-title>World</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
                <v-list-item link>
                    <v-list-item-content>
                        <v-list-item-title>Europe</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
                <v-list-item link>
                    <v-list-item-content>
                        <v-list-item-title>South America</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
            </v-list-group>
        </v-list>
        <v-bottom-navigation grow color="primary">
            <v-btn color="grey dark-5">
                <span>Dashboard</span>
                <v-icon>dashboard</v-icon>
            </v-btn>

            <v-btn color="grey dark-5">
                <span>Menu</span>
                <v-icon>menu</v-icon>
            </v-btn>

            <v-btn color="grey dark-5">
                <span>Mail</span>
                <v-icon>mail_outline</v-icon>
            </v-btn>
        </v-bottom-navigation>
    </div>
</template>

<script>
import UserShortMenu from './UserShortMenu';

export default {
    components: { UserShortMenu },
    props: ['miniVariant', 'authUser'],
    data: () => ({
        active: 0
    }),
};
</script>

<style lang="scss" scoped>
.backend-menu {
    height: 100vh;
    overflow: hidden;

    .v-list-fix-custom {
        position: fixed;
        top: 0;
        border-radius: 0;
    }

    .v-list-menu-custom {
        height: calc(100vh - 155px);
        margin-top: 90px;
        overflow-y: auto;
        margin-bottom: 10px;
    }

    // .v-list-menu-custom::-webkit-scrollbar {
    //     width: 5px;
    // }
}
</style>
