<template>
    <v-app-bar app color="primary" dark>
        <v-btn icon @click.stop="$emit('toggleMenu')">
            <v-icon>menu</v-icon>
        </v-btn>
        <v-toolbar-title>{{ $route.name }}</v-toolbar-title>
        <v-spacer />

        <v-btn icon>
            <v-badge :content="5" :value="5" color="accent" overlap>
                <v-icon>forum</v-icon>
            </v-badge>
        </v-btn>
        <v-btn icon>
            <v-badge :content="5" :value="5" color="red" overlap>
                <v-icon>notifications</v-icon>
            </v-badge>
        </v-btn>
        <v-btn icon>
            <v-icon>settings</v-icon>
        </v-btn>
    </v-app-bar>
</template>

<script>
export default {};
</script>
