<template>
    <v-menu v-model="dropdownOpen" :open-on-hover="false" :close-on-click="true" :close-on-content-click="true" :offset-y="true">
        <template v-slot:activator="{ on }">
            <v-icon color="primary" v-on="on">more_vert</v-icon>
        </template>
        <v-list>
            <v-list-item @click="$emit('hideMenu')">
                <v-list-item-icon class="menu-dropdown-icon">
                    <v-icon>account_box</v-icon>
                </v-list-item-icon>

                <v-list-item-content>
                    <v-list-item-title>My Profile</v-list-item-title>
                </v-list-item-content>
            </v-list-item>
            <v-list-item @click="logout()">
                <v-list-item-icon class="menu-dropdown-icon">
                    <v-icon>power_settings_new</v-icon>
                </v-list-item-icon>

                <v-list-item-content>
                    <v-list-item-title>Logout</v-list-item-title>
                </v-list-item-content>
            </v-list-item>
        </v-list>
    </v-menu>
</template>

<script>
export default {
    data: () => ({
        dropdownOpen: false,
    }),
    methods: {
        logout() {
            this.axios.post('/logout', {}).then(() => {
                window.location.href = '/admin';
            });
        },
    },
};
</script>
<style lang="scss" scoped>
.v-application--is-ltr .v-list-item__icon:first-child.menu-dropdown-icon {
    margin-right: 10px;
}
</style>

