<template>
    <BackendApplication>
        <v-data-table v-model="itemSelecteds" :headers="headers" :items="items" :items-per-page.sync="meta.per_page"
            :footer-props="footerProps" show-select item-key="id" class="elevation-5" @update:items-per-page="changedPage"
            @toggle-select-all="selectAllToggle">
            <template v-slot:top="topData">
                <v-toolbar flat color="white">
                    <v-toolbar-title>Roles</v-toolbar-title>
                    <v-spacer></v-spacer>
                    <v-btn color="success" @click="itemDialogInfo = { showDialog: true, item: initItem, action: 'Add' }">
                        <v-icon>add</v-icon>Add Role
                    </v-btn>
                </v-toolbar>

                <v-toolbar v-if="itemSelecteds.length > 0" flat color="white">
                    <v-toolbar-title>
                        <v-alert type="error" class="p-2" outlined dense border="left">
                            <span>{{ getSelectedText }}</span>&nbsp;&nbsp;
                            <v-btn color="error" small
                                @click="deleteInfo = { showDialog: true, data: [], content: deleteItemSelectedsContent }">
                                <v-icon>delete</v-icon>Delete
                            </v-btn>
                        </v-alert>
                    </v-toolbar-title>
                </v-toolbar>
            </template>

            <template v-slot:item.data-table-select="{ item, select, isSelected }">
                <v-checkbox color="error" :value="isSelected" @change="select($event)" :readonly="item.disabled" :disabled="item.disabled">
                </v-checkbox>
            </template>

            <template v-slot:item.default_role="{ item }">
                {{ item.default_role ? 'X' : '-' }}
            </template>
            <template v-slot:item.options="{ item }">
                <v-btn color="blue" small outlined @click="itemDialogInfo = { showDialog: true, item: {...item}, action: 'Edit' }"
                    :disabled="item.disabled">
                    <v-icon>edit</v-icon>Edit
                </v-btn>
                <v-btn color="error" small @click="deleteInfo = { showDialog: true, data: item, content: 'Are you want to delete role ?' }"
                    :disabled="item.disabled">
                    <v-icon>delete</v-icon>Delete
                </v-btn>
            </template>
        </v-data-table>
        <div class="text-center pt-2">
            <v-pagination v-if="meta.last_page > 0" :circle="true" v-model="meta.current_page" :length="meta.last_page" :total-visible="7"
                @input="changedPage"></v-pagination>
        </div>
        <confirm-dialog :visible="deleteInfo.showDialog" :data="deleteInfo.data" @close="toDelete" title="Delete" titleColor="error"
            :content="deleteInfo.content" okBtn="Yes" okBtnColor="error" closeBtn="No" />
        <role-dialog :action="itemDialogInfo.action" :visible="itemDialogInfo.showDialog" :item="itemDialogInfo.item"
            @close="handleCloseItemDialog" />
    </BackendApplication>
</template>
<script>
import CODE from '@/core/code';
import RoleDialog from './RoleDialog';

export default {
    components: {
        RoleDialog,
    },

    data: () => ({
        defaultRoles: [],

        // count items had disabled
        disabledItemsCount: 0,

        // item selecteds
        itemSelecteds: [],

        //items / meta: pagination object of laravel
        items: [],
        meta: {
            current_page: null,
            from: null,
            last_page: null,
            per_page: null,
            to: null,
            total: null,
        },

        // Table header define
        headers: [
            {
                text: 'No.',
                align: 'left',
                sortable: false,
                value: 'index',
            },
            { text: 'Name', value: 'name' },
            { text: 'Guard name', align: 'center', value: 'guard_name' },
            {
                text: 'Default role',
                align: 'center',
                value: 'default_role',
            },
            {
                text: 'Options',
                align: 'center',
                sortable: false,
                value: 'options',
            },
        ],

        footerProps: {
            itemsPerPageText: 'Items per page: ',
            itemsPerPageOptions: [12, 24, 48, 64],
            pageText: '',
            prevIcon: '',
            nextIcon: '',
        },

        // delete one item info
        deleteInfo: {
            showDialog: false,
            data: null,
            content: '',
        },

        // item info select dialog
        itemDialogInfo: {
            action: 'Add',
            showDialog: false,
            item: {
                name: '',
            },
        },
    }),

    computed: {
        initItem() {
            return {
                name: '',
            };
        },

        listAjaxUrl() {
            let page = this.meta.current_page || 1;
            let take = this.meta.per_page || 12;
            let queryString =
                (page ? `?page=${page}` : '') + (take ? `&take=${take}` : '');

            return `/ajax/roles${queryString}`;
        },

        hasPermissionAccess() {
            return (
                window.authUser.roles.findIndex(
                    role =>
                        role.name === this.defaultRoles.super_admin ||
                        role.name === this.defaultRoles.admin,
                ) >= 0
            );
        },

        deleteItemSelectedsContent() {
            return `Are you want to delete ${this.itemSelecteds.length} ${this.getPlural} ?`;
        },

        getSelectedText() {
            return `${this.itemSelecteds.length} ${this.getPlural} selected`;
        },

        getPlural() {
            return this.itemSelecteds.length > 1 ? 'roles' : 'role';
        },
    },

    mounted() {
        let pageQuery = location.search.match(/page=(\d+)/);
        let takeQuery = location.search.match(/take=(\d+)/);
        this.meta.current_page = pageQuery ? Number(pageQuery[1]) : 1;
        this.meta.per_page = takeQuery ? Number(takeQuery[1]) : 12;

        if (
            !this.footerProps.itemsPerPageOptions.includes(this.meta.per_page)
        ) {
            this.meta.per_page = 12;
            this.replaceRouter();
        }

        this.fetchData();
    },

    methods: {
        fetchData() {
            this.itemSelecteds = [];
            this.disabledItemsCount = 0;
            this.axios.get(this.listAjaxUrl).then(({ data: response }) => {
                this.defaultRoles = response.default_roles;
                this.items = response.data;
                this.meta = response.meta;
                this.footerProps.pageText = `Display ${this.meta.from} - ${this.meta.to} of ${this.meta.total}`;
                this.setItems();
            });
        },

        setItems() {
            this.items.forEach((item, index) => {
                item.index = this.meta.from + index;
                item.default_role = this.isDefaultRole(item.name);
                item.disabled = false;

                if (
                    this.isDefaultRole(item.name) ||
                    !this.hasPermissionAccess
                ) {
                    item.disabled = true;
                    this.disabledItemsCount++;
                }
            });
        },

        isDefaultRole(roleName) {
            return Object.values(this.defaultRoles).includes(roleName);
        },

        changedPage() {
            const newTotalPages = Math.ceil(
                this.meta.total / this.meta.per_page,
            );

            if (this.meta.current_page > newTotalPages) {
                this.meta.current_page = newTotalPages;
            }

            this.replaceRouter();

            this.fetchData();
        },

        selectAllToggle(props) {
            if (
                this.itemSelecteds.length !==
                this.items.length - this.disabledItemsCount
            ) {
                this.itemSelecteds = [];
                const self = this;
                props.items.forEach(item => {
                    if (!item.disabled) {
                        self.itemSelecteds.push(item);
                    }
                });
            } else {
                this.itemSelecteds = [];
            }
        },

        toDelete(data) {
            if (!data) {
                return (this.deleteInfo.showDialog = false);
            }

            let delete$;

            if (!Array.isArray(data)) {
                delete$ = this.axios.delete(`/ajax/roles/${data.id}`);
            } else {
                const idSelecteds = this.itemSelecteds.map(i => i.id);
                delete$ = this.axios.patch(`/ajax/roles`, {
                    ids: idSelecteds,
                });
            }

            delete$
                .then(response => {
                    this.deleteInfo.showDialog = false;
                    if (response.status === CODE.SUCCESS_NO_CONTENT) {
                        this.fetchData();
                    }
                })
                .catch(error => (this.deleteInfo.showDialog = false));
        },

        handleCloseItemDialog(item) {
            this.itemDialogInfo.showDialog = false;

            if (!item) {
                return;
            }

            if (this.itemDialogInfo.action === 'Add') {
                this.fetchData();
            } else {
                const object = this.items.find(r => r.id === item.id);
                object.name = item.name;
            }
        },

        replaceRouter() {
            this.$router
                .replace({
                    path: '/admin/roles',
                    query: {
                        page: this.meta.current_page,
                        take: this.meta.per_page,
                    },
                })
                .catch(err => {});
        },
    },
};
</script>
