<template>
    <v-dialog color="primary" v-model="show" :persistent="!!error.message" scrollable max-width="600px" width="85%">
        <template v-slot:activator="activation">
            <slot name="activator" v-bind="activation"></slot>
        </template>
        <v-card>
            <v-toolbar :color="action === 'Add' ? 'success' : 'primary'" dark>
                <span class="headline">{{ action }} role</span>
            </v-toolbar>
            <v-form ref="form" v-model="valid" lazy-validation>
                <v-card-text>
                    <v-container>
                        <div v-if="error.message" class="error--text">
                            {{ error.message }}
                        </div>
                        <v-row>
                            <v-col cols="12">
                                <v-text-field outlined dense label="Name *" v-model="item.name" required
                                    :error-count="error.fields.name.length" :error-messages="error.fields.name"></v-text-field>
                            </v-col>
                        </v-row>
                    </v-container>
                </v-card-text>
            </v-form>
            <v-divider></v-divider>

            <v-card-actions class="elevation-5">
                <v-spacer></v-spacer>
                <v-btn @click="show = false">Close</v-btn>
                <v-btn :color="action === 'Add' ? 'success' : 'primary'" @click="toSave">
                    {{action === 'Add' ? 'Add' : 'Save'}}
                </v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>
<script>
import ResponseError from '@/core/response-error';

export default {
    props: {
        action: {
            type: 'Add' | 'Edit',
            default: 'Add',
        },
        visible: {
            type: Boolean,
            default: false,
        },
        item: {
            type: Object,
            default: null,
        },
    },

    data: () => ({
        error: new ResponseError('', ['name']),
        valid: true,
        rules: {
            name: [],
        },
    }),

    computed: {
        show: {
            get() {
                return this.visible;
            },
            set(value) {
                if (!value) {
                    this.resetError();
                    return this.$emit('close', null);
                }

                if (value !== true) {
                    this.resetError();
                    return this.$emit('close', value);
                }
            },
        },
    },

    methods: {
        showErrors() {
            this.$refs.form.validate();
        },

        resetError() {
            this.error = new ResponseError('', ['name']);
        },

        toSave() {
            this.resetError();

            if (this.action === 'Add') {
                this.callCreateApi();
            } else {
                this.callUpdateApi();
            }
        },

        callCreateApi() {
            const self = this;

            this.axios
                .post(`/ajax/roles`, this.item)
                .then(({ data }) => {
                    self.show = data.role;
                })
                .catch(errors => {
                    this.error.map(errors.response);
                });
        },

        callUpdateApi() {
            const self = this;

            this.axios
                .put(`/ajax/roles/${this.item.id}`, this.item)
                .then(({ data }) => {
                    self.show = data.role;
                })
                .catch(errors => {
                    this.error.map(errors.response);
                });
        },
    },
};
</script>
