// Fonts
// @import url("https://fonts.googleapis.com/css?family=Nunito");
// @import url("//fonts.googleapis.com/css?family=Roboto:400,500,700,400italic|Material+Icons");

// vuetify
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900");
@import url("https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css");
@import url("https://fonts.googleapis.com/css?family=Material+Icons");

// Vuetify css
@import '~vuetify/dist/vuetify.min.css';

// // Variables
// @import "variables";

// // Bootstrap
// // @import '~bootstrap/scss/bootstrap';
// @import "~vue-material/dist/vue-material.min.css";
// @import "~vue-material/dist/theme/default.css";

// // custom theme
// @import "~vue-material/dist/theme/engine";
// @include md-register-theme(
//     "default",
//     (
//         primary: #009688,
//         accent: #ff5722,
//         // warn: red,
//         // background: grey
//     )
// );
// @import "~vue-material/dist/theme/all"; // Apply the theme

// // custom css
// .md-button .md-button-content {
//     i.md-icon + span {
//         vertical-align: middle;
//     }
// }

// .md-dialog.md-full {
//     min-width: 100%;
// }

// .md-dialog.md-lg {
//     min-width: 80%;
// }

// .md-dialog.md-md {
//     min-width: 60%;
// }

// .md-dialog.md-sm {
//     min-width: 40%;
// }

// .md-dialog-title-error {
//     color: red;
//     margin-bottom: 10px;
// }
