<template>
    <BackendApplication>
        <v-btn @click="getA()">Demo Axios</v-btn>
    </BackendApplication>
</template>

<script>
export default {
    data: () => ({
        bcs: 'ok',
    }),
    mounted() {},
    methods: {
        getA() {
            this.axios.get('https://gorest.co.in/public-api/users').then(data => {
                console.log(data);
            });
        },
    },
};
</script>
