<template>
    <BackendApplication>
        <h1>404 NotFound</h1>
    </BackendApplication>
</template>

<script>
export default {
    data: () => ({
        message: '404 NotFound',
    }),
};
</script>
