<template>
    <v-dialog v-model="dialog" :persistent="persistent" max-width="400" width="80%">
        <template v-slot:activator="activation">
            <slot name="activator" v-bind="activation">
            </slot>
        </template>
        <v-card>
            <v-card-title v-if="title" :class="['headline',  titleColor + '--text']">{{ title }}</v-card-title>
            <v-card-text v-if="content" :class="[contentColor + '--text']">{{ content }}</v-card-text>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn :color="closeBtnColor" @click="dialog=false">{{ closeBtn }}</v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>
export default {
    props: {
        visible: {
            type: Boolean,
            default: false,
        },
        persistent: {
            type: Boolean,
            default: true,
        },
        title: {
            type: String,
            default: '',
        },
        titleColor: {
            type: String,
            default: 'error',
        },
        content: {
            type: String,
            default: '',
        },
        contentColor: {
            type: String,
            default: '',
        },
        closeBtn: {
            type: String,
            default: 'CLOSE',
        },
        closeBtnColor: {
            type: String,
            default: '',
        },
    },

    computed: {
        dialog: {
            get() {
                return this.visible;
            },
            set(value) {
                if (!value) {
                    this.$emit('close', null);
                }
            },
        },
    },
};
</script>
