<template>
    <div>
        <progress-bar />
        <v-app id="inspire">
            <tool-bar @toggleMenu="drawer = !drawer" />

            <v-navigation-drawer v-model="drawer" color="accent" :expand-on-hover="expandOnHover" :mini-variant="miniVariant" dark app>
                <menu-bar :miniVariant="miniVariant" :authUser="authUser" @toggleMenu="drawer = !drawer" />
            </v-navigation-drawer>

            <v-content>
                <v-container fluid>
                    <slot />
                </v-container>
            </v-content>

            <v-footer app color="primary" class="white--text" inset>
                <slot name="textFooter"/>
                <v-spacer />
                <span>dongtt &copy; 2020</span>
            </v-footer>

            <alert-dialog :visible="ajaxError.hasError"
                :title="ajaxError.errorCode"
                titleColor="error"
                :content="ajaxError.errorMessage"
                closeBtnColor="error" @close="ajaxError.hasError = false"/>
        </v-app>
    </div>
</template>


<script>
import Vue from 'vue';
import CODE from '@/core/code';
import { AlertDialog, ConfirmDialog } from '@/components';
import { MenuBar, ToolBar, ProgressBar } from './partials';

Vue.component('alert-dialog', AlertDialog);
Vue.component('confirm-dialog', ConfirmDialog);

export default {
    components: {
        ToolBar,
        MenuBar,
        ProgressBar,
    },

    data: () => ({
        drawer: true,
        expandOnHover: false,
        miniVariant: false,

        ajaxError: {
            hasError: false,
            errorCode: null,
            errorMessage: null,
        },
    }),

    computed: {
        authUser() {
            return window.authUser;
        },
    },

    mounted() {
        this.axios.interceptors.response.use(
            response => response,
            error => {
                if (error.response) {
                    this.handleError(error.response);
                }

                return Promise.reject(error);
            },
        );
    },

    methods: {
        handleError(response) {
            const ajaxError = {
                hasError: true,
                titleColor: 'error',
                errorCode: 'ERROR',
                errorMessage: 'Unknow Error !',
            };

            switch (response.status) {
                case CODE.ERROR_FORBIDDEN:
                    this.ajaxError = {
                        ...ajaxError,
                        errorCode: CODE.ERROR_FORBIDDEN.toString(),
                        errorMessage:
                            'Forbidden: does not have the permissions',
                    };
                    break;
                case CODE.ERROR_NOT_FOUND:
                    this.ajaxError = {
                        ...ajaxError,
                        errorCode: CODE.ERROR_NOT_FOUND.toString(),
                        errorMessage: 'Not found',
                    };
                    break;
                case CODE.ERROR_INTERNAL_SERVER:
                    this.ajaxError = {
                        ...ajaxError,
                        errorCode: CODE.ERROR_INTERNAL_SERVER.toString(),
                        errorMessage: 'Internal Server error',
                    };
                    break;
                case CODE.ERROR_SERVICE_UNAVAILABLE:
                    this.ajaxError = {
                        ...ajaxError,
                        errorCode: CODE.ERROR_SERVICE_UNAVAILABLE.toString(),
                        errorMessage: 'Service unavailable',
                    };
                    break;
                default:
                    break;
            }
        },
    },
};
</script>
